<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>PC Master Race Bot</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="icon" type="image/png" href="favicon.png">
    <link rel="stylesheet" type="text/css" href="css/index.css">
</head>
<body>
    Teste de Atualizacao do Site - Pagina inicial Logada

    <p><a href="/figurinhas" class="link-danger link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">Figurinhas</a></p>
</body>
</html>