@font-face {
    font-family: 'Gotham';
    src: URL('../fonts/Gotham-Light.ttf') format('truetype');
}

body {
    font-size: large;
    font-family: 'Gotham';
    font-weight: bold;
    background: #0A1725;
    color: #C1D3d3;
}