
@import url("https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.1/css/bootstrap.min.css");

:root {
    --main-bg-color: #0A1725;
    --main-text-color: #C1D3D3;
    --main-font-family: 'Gotham';
}


@font-face {
    font-family: 'Gotham';
    src: URL('../fonts/Gotham-Light.ttf') format('truetype');
}

body {
    font-size: large;
    font-family: var(--main-font-family);
    font-weight: bold;
    background: var(--main-bg-color);
    color: var(--main-text-color);
}
